name: Breakpoint test on GitHub

on:
  workflow_dispatch:
    inputs:
      breakpoint-version:
        description: "Override the breakpoint binary version"
        required: false
        type: string

env:
  AUTHORIZED_USERS: hugosantos,n-g,htr,annervisser

jobs:
  breakpoint:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Execute breakpoint
        uses: ./
        env:
          BREAKPOINT_VERSION: ${{ inputs.breakpoint-version }}
        with:
          duration: 5m
          authorized-users: ${{ env.AUTHORIZED_USERS }}
  
