name: Breakpoint test on GitHub/MacOS

on:
  workflow_dispatch:
    inputs:
      notify-slack:
        description: "Post a notification for the breakpoint on Slack"
        required: false
        type: boolean
      breakpoint-version:
        description: "Override the breakpoint binary version"
        required: false
        type: string

env:
  AUTHORIZED_USERS: hugosantos,n-g,htr

jobs:
  breakpoint-mac:
    runs-on: macos-14-xlarge

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Execute breakpoint with Slack notification
        if: inputs.notify-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          BREAKPOINT_VERSION: ${{ inputs.breakpoint-version }}
        uses: ./
        with:
          duration: 5m
          authorized-users: ${{ env.AUTHORIZED_USERS }}
          webhook-definition: ./.github/slack-notification.json

      - name: Execute breakpoint
        if: !inputs.notify-slack
        env:
          BREAKPOINT_VERSION: ${{ inputs.breakpoint-version }}
        uses: ./
        with:
          duration: 5m
          authorized-users: ${{ env.AUTHORIZED_USERS }}
  