name: Breakpoint test

on:
  workflow_dispatch:
    inputs:
      breakpoint-version:
        description: "Override the breakpoint binary version"
        required: false
        type: string
  push:
    branches:
      - main

jobs:
  breakpoint:
    runs-on: nscloud-ubuntu-22.04-amd64-2x4

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Execute breakpoint
        uses: ./
        env:
          BREAKPOINT_VERSION: ${{ inputs.breakpoint-version }}
        with:
          duration: 2m
          authorized-users: hugosantos,n-g,htr,annervisser
